* {
    margin: 0%;
    padding: 0%;
}

.li-nav {
    display: inline;
    color: white;
    padding-right: 2vw;
    position: relative;
    top: 1.5vh;
    left: 1vw;
    font-size: 0.9rem;
}

.navbar {
    background-color: rgb(61, 57, 57);
    height: 6.5vh;
}

.first-section {
    height: 47vh;
    background-color: rgb(220, 220, 220);
}

.img1 {
    position: relative;
    top: 2vh;
    left:13vw;
}

.img2 {
    position: absolute;
    top: 15vh;
    left:14vw;
}

.first-p {
    position: relative;
    bottom: 12vh;
    left: 60vw;
    width: 30vw;
    text-align: right;
}

.first-p p {
    font-size: 0.8rem;
    font-weight: bold;
}

.second-section {
    position: relative;
    height: 57vh;
}

.first-boxes{
    position: absolute;
    top: 5vh;
    left:16vw;
    width: 32vw;
    height: 39vh;
}

.second-boxes{
    position: absolute;
    top: 5vh;
    left:52vw;
    width: 32vw;
    height: 39vh;
}

.box1 {
    width: 6vw;
    height: 12vh;
    border-radius: 10px;
    box-shadow: -3px 3px;
    background-color: rgb(98, 247, 163);
    position: absolute;
    top: 0;
    left:0;
}

.box2 {
    width: 6vw;
    height: 12vh;
    border-radius: 10px;    
    box-shadow: -3px 3px;
    background-color: rgb(106, 106, 222);
    position: absolute;
    top: 13vh;
    left:6.5vw;
}

.box3 {
    width: 6vw;
    height: 12vh;
    border-radius: 10px;
    box-shadow: -3px 3px, 3px 3px;
    background-color: rgb(254, 140, 157);
    position: absolute;
    top: 26vh;
    left:13vw;
}

.box4 {
    width: 6vw;
    height: 12vh;
    border-radius: 10px;    
    box-shadow: 3px 3px;
    background-color: rgb(197, 247, 122);
    position: absolute;
    top: 13vh;
    right:6.5vw;
}

.box5 {
    width: 6vw;
    height: 12vh;
    border-radius: 10px;
    box-shadow: 3px 3px;
    background-color: rgb(242, 192, 100);
    position: absolute;
    top: 0;
    right: 0;
}

.footer {
    background-color: rgb(61, 57, 57);
    height: 10vh;
    text-align: center;
    color: white;
    font-size: 0.86rem;
}