* {
    margin: 0%;
    padding: 0%;
}

.li-nav {
    display: inline;
    color: white;
    padding-right: 2vw;
    position: relative;
    top: 1.5vh;
    left: 1vw;
}

.navbar {
    background-color: rgb(61, 57, 57);
    height: 7vh;
}

.first-section {
    height: 47vh;
    background-color: rgb(220, 220, 220);
}

.img1 {
    position: relative;
    top: 2vh;
    left:13vw;
}

.img2 {
    position: absolute;
    top: 15vh;
    left:14vw;
}

.first-p {
    position: relative;
    bottom: 12vh;
    left: 60vw;
    width: 30vw;
    text-align: right;
}
