* {
    margin: 0%;
    padding: 0%;
}

.li-nav {
    display: inline;
    color: white;
    padding-right: 2vw;
    position: relative;
    top: 1.5vh;
    left: 1vw;
}

.navbar {
    background-color: rgb(61, 57, 57);
    height: 7vh;
}

.first-section {
    height: 50vh;
    background-color: rgb(220, 220, 220);
}